*{
    box-sizing: border-box;
    margin: 0;
}
p{
    padding: 10px;
    font-size: 15px;
}
/*nav-bar design starts from here*/
.nav-bar{
    background-color: rgb(4, 140, 194);
    width: 100%;
    padding: 0;
    margin: 0;
}
.logo-img{
    height: 150px;
    width: 150px;
    padding: 0px auto;
    margin: 0 auto;
    text-align: center;
    
}
.col-2{
    text-align: center;
}

.nav-head{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    
    font-family: 'Fira Sans', sans-serif;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.nav-menu a{
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: rgb(4, 140, 194);
    padding: 10px 0px;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
    float: left;
    font-family: 'Fira Sans', sans-serif;
}
.nav-menu a:hover{
    background-color: gray;
}
.nav-bar::after{
    content: '';
    display: table;
    clear: both;
}
[class*=col-]{
    width: 100%;
}
/*nav-bar design ends from here*/



/*profile design ends from here*/
.profile{
    font-family: 'Fira Sans', sans-serif;
    padding: 170px 10px;
    position: relative;
    text-align: center;
}
.pictures{
    
}
.pictures .top-pic{
    height: 150px;
    width: 150px;
    position: absolute;
    right: 60px;
    top: 30px;
    

    transition: 2s;
}
.pictures .top-pic:hover{
    transform: rotate(360deg);

}
.pictures .bottom-pic{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 60px;

    transition: 2s;
}
.pictures .bottom-pic:hover{
    transform: rotate(360deg);

}
.text {
    padding: 25px;
}
.text h1{
    font-family: 'Satisfy', cursive;

}
.text p{
    color: gray;
    width: 90%;
    margin: 10px auto;
    
}
.profile::after{
    content: '';
    display: table;
    clear: both;
}
/*profile design ends from here*/



/*about-me design starts from here*/
.about-me{
    width: 100%;
    background-color: rgb(4, 140, 194);
    font-family: 'Fira Sans', sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
}
.dotted-hr{
    border: dotted 5px white;
    border-bottom: none;
    width: 60px;
    margin: 20px auto;
}

.left-div{
    width: 100%;
    text-align: center;
    float: left;
}
.left-div > img{
    height: 200px;
    width: 170px;
    border: 3px solid white;
    border-radius: 80%;
    margin: 20px;
}
.right-div{
    text-align: center;
    width: 100%;
}
hr{
    border: 1px solid white;
    margin: 10px 50px;
}
.p-bold{
    font-size: 18px;
}
.btn-cv{
    background-color: teal;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
}
.about-me::after{
    content: '';
    display: table;
    clear: both;
}
/* about-me design ends from here*/



/*proffessional-experience design starts from here*/
.proffessional-experience{
    font-family: 'Fira Sans', sans-serif;
    padding: 1% 0%;
    margin: 10px;
}
.first-div{
    background-color: rgb(164, 163, 163);
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    height: 700px;
    transition: 0.3s;
    margin: 1%;
    width: 100%;
}
.first-div img{
    height: 80px;
    width: 80px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    margin-top: 15px;

    
}
.first-div h2{
    background-color: rgb(66, 64, 64);
    color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.first-div ol{
    text-align: left;
}
.first-div hr{
    margin: 5px ;
}
.first-div:hover{
    box-shadow: 0px 4px 8px 5px gray;
}


.mid-div{
    background-color: rgb(164, 163, 163);
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    height: 700px;
    transition: 0.3s;
    margin: 1%;
}
.mid-div img{
    height: 80px;
    width: 80px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    margin-top: 15px;
}
.mid-div h2{
    background-color: rgb(66, 64, 64);
    color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.mid-div ol{
    text-align: left;
}
.mid-div hr{
    margin: 5px ;
}
.mid-div:hover{
    box-shadow: 0px 4px 8px 5px gray;
}

.last-div{
    background-color: rgb(164, 163, 163);
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    height: 700px;
    transition: 0.3s;
    margin: 1%;
}
.last-div img{
    height: 80px;
    width: 80px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    margin-top: 15px;
}
.last-div h2{
    background-color: rgb(66, 64, 64);
    color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.last-div:hover{
    box-shadow: 0px 4px 8px 5px gray;
}
.skills{
    padding-right: 45px;
}
.skills li{
    text-align: left;
    list-style: none;
    margin: 30px 10px;
    text-transform: uppercase;
    position: relative;
}
.skills li::before{
    content: '';
    position: absolute;
    height: 10px;
    left: 0;
    width: 100%;
    background-color: cornflowerblue;
    border-radius: 1000px;
    top: calc(100% + 5px);
    opacity: 0.5;
    
}
.skills li::after{
    content: '';
    position: absolute;
    height: 10px;
    left: 0;
    width: 0%;
    background-color: rgb(60, 109, 200);
    border-radius: 1000px;
    top: calc(100% + 5px);
    
    
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

}
.skills li.html::after{
    animation-name: html;
}
@keyframes html{
    to{
        width: 80%;
    }
}

.skills li.css::after{
    animation-name: css;
}
@keyframes css{
    to{
        width: 70%;
    }
}

.skills li.javascript::after{
    animation-name: javascript;
}
@keyframes javascript{
    to{
        width: 40%;
    }
}

.skills li.jquiry::after{
    animation-name: jquiry;
}
@keyframes jquiry{
    to{
        width: 30%;
    }
}

.skills li.bootstrap::after{
    animation-name: bootstrap;
}
@keyframes bootstrap{
    to{
        width: 5%;
    }
}
.skills li.python::after{
    animation-name: python;
}
@keyframes python{
    to{
        width: 10%;
    }
}


.proffessional-experience::after{
    content: '';
    display: table;
    clear: both;
}
/* proffessional-experience design ends from here*/



/*achievement design starts from here*/
.achievement-container{
    font-family: 'Fira Sans', sans-serif;
    padding: 1% 7%;
    margin: 10px;
    background-color: rgb(4, 140, 194);
    color: white;
    
}
.achievement{
    
    text-align: center;
    padding: 10px;
    padding-top: 30px;
}
.achievement li{
    padding: 10px;
}
.contact-me{
    
    text-align: center;
    padding: 10px;
    padding-top: 30px;
}
.contact-me input{
    height: 40px;
    width: 90%;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
}
.contact-me .extra-input{
    height: 150px;
    width: 90%;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
    padding: 15px;
    font-family: 'Fira Sans', sans-serif;
    resize: none;
}
.contact-me button{
    height: 50px;
    width: 30%;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    background-color: rgb(48, 47, 47);
    color: white;
}
.more-ways{
    
    text-align: center;
    padding: 10px;
    padding-top: 30px;
}
.media-buttons{
    height: 300px;
    width: 200px;
    margin: 10px auto;
   
}
.media-buttons .btn{
    height: 40px;
    width: 50px;
    font-size: 35px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}
.media-buttons .btn:hover{
    background-color: gray;
}
.achievement-container::after{
    content: '';
    display: table;
    clear: both;
}
/* achievement design ends from here*/


/*footer design starts from here*/
.footer{
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(36, 35, 35);
    color: white;
    text-align: center;
    padding: 20px;
}
.footer-menu{
    padding-top: 10px;
}
.footer-menu a{
    text-decoration: none;
    color: white;
    display: block;
    margin: 10px auto;
}
.footer-menu a:hover{
    color: red;
}
.footer-quote{
    padding-top: 10px;
}

.footer::after{
    content: '';
    display: table;
    clear: both;
}
/* footer design ends from here*/